@media only screen and (max-width: 1546px) {
  #map {
    position: relative;
    float: left;
    height: 70%;
    width: 70%;
    margin-left: 10%;
  }
}

html,
body {
  height: 90%;
}

ul {
  display: inline-block;
}

li {
  clear: both;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.titleText {
  margin-left: 3%;
  text-align: center;
  text-decoration: overline;
  font-family: 'Times New Roman', Times, serif;
}
.theList {
  position: relative;
  float: left;
  text-align: center;

}
#dynamic-search-bar {
  position: relative;
  float: left;
  margin-left: 20%;
}
#map {
  position: relative;
  float: left;
  height: 70%;
  width: 70%;
}

#theimages {
  max-width: 40%;
  max-height: 40%;
}
